{% extends 'base.html.twig' %}

{% block title %}Reservation!
{% endblock %}

{% block body %}

	<h1 class="text-center">Votre Reservation</h1>

	<td class="text-end">{{ element.vol.compagnie }} €</td>

	{% endblock %}
