{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
{% block main %}
<h1>Mon compte</h1>

<h3 class="text-center mt-4">Bienvenue <span class="text-muted">{{app.user.prenom}} {{app.user.nom }}</span></h3>
<hr>

<a href="{{path('account_password')}}"> Modifier mon Mot de passe</a><br>
<a href="#">Faire une réservation d'hebergement</a><br>
<a href="#">Faire une réservation de vol</a><br>
<a href="#">Voir mes dernières réservations</a><br>

{% endblock %}
{% endblock %}