{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Traveling
{% endblock %}

{% block body %}
	<h1 class="text-center">Bienvenue sur Traveling</h1>
	<!-- about -->
	<div id="about" class="about">
		<div class="container">
			<div class="row">
				<div class="col-md-12 ">
					<div class="titlepage">
						<h2>Qui sommes-nous ?</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="bg">
			<div class="container">
				<div class="row">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
						<div class="about-box">
							<p>
								<span>
							Nous sommes une agence de voyage qui vous vends du rêve.<br>
							Vous êtes sur le point de partir pour une destination qui vous enchantera.<br>
							Nous vous proposons des vols à bon prix et des hébergements idéalement situés.</span>
							</p>
							<div class="plane-img-area">
								<img src="uploads/picture/plane-img.png" alt="images">
							</div>
						</div>
					</div>
				</div>
			</div>
			<a href="#">Découvrir</a>
		</div>
	</div>
	<!-- end about -->	
	<!-- traveling -->
	<div id="travel" class="traveling">
		<div class="container">
			<div class="row">
				<div class="col-md-12 ">
					<div class="titlepage">
						<h2>Sélections de voyages</h2>
						<span>Voici quelques propositions de voyages.</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
					<div class="traveling-box">
						<i><img src="icon/travel-icon.png" alt="icon"/></i>
						<h3>Différents Pays</h3>
						<p>
							choisissez le pays qui vous fais rêver et allez-y
 						</p>
						<div class="read-more">
							<a href="#">Voir les détails</a>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
					<div class="traveling-box">
						<i><img src="icon/travel-icon2.png" alt="icon"/></i>
						<h3>Escursions en montagne</h3>
						<p>
							De la petite ballade au treck sportif, allez-y !
						</p>
						<div class="read-more">	
							<a href="#">Voir les détails</a>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
					<div class="traveling-box">
						<i><img src="icon/travel-icon3.png" alt="icon"/></i>
						<h3>Tours en bus</h3>
						<p>
							Vous verrez du pays à bord de nos bus. Embarquement.
						</p>
						<div class="read-more">
							<a href="#">Voir les détails</a>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
					<div class="traveling-box">
						<i><img src="icon/travel-icon4.png" alt="icon"/></i>
						<h3>Eté détente</h3>
						<p>
							Emportez votre serviette et nous nous occupons du reste. Plouf.
						</p>
						<div class="read-more">
							<a href="#">Voir les détails</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end traveling -->
	<!--London -->
	<div class="London">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="titlepage">
						<h2>Weekend in New York, London</h2>
						<span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</span>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="London-img">
				<figure><img src="images/London.jpg" alt="img"/></figure>
			</div>
		</div>
	</div>
	<!-- end London -->
	<!--Tours -->
	<div class="Tours">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="titlepage">
						<h2>The Best Tours</h2>
						<span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</span>
					</div>
				</div>
			</div>
			<section id="demos">
				<div class="row">
					<div class="col-md-12">
						<div class="owl-carousel owl-theme">
							<div class="item">
								<img class="img-responsive" src="images/1.jpg" alt="#"/>
								<h3>Holiday Tour</h3>
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in soe suffk even slightly believable. If y be sure there</p>
							</div>
							<div class="item">
								<img class="img-responsive" src="images/2.jpg" alt="#"/>
								<h3>New York</h3>
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in soe suffk even slightly believable. If y be sure there</p>
							</div>
							<div class="item">
								<img class="img-responsive" src="images/3.jpg" alt="#"/>
								<h3>London</h3>
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in soe suffk even slightly believable. If y be sure there</p>
							</div>
							<div class="item">
								<img class="img-responsive" src="images/2.jpg" alt="#"/>
								<h3>Holiday Tour</h3>
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in soe suffk even slightly believable. If y be sure there</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<!-- end Tours -->
	<!-- Amazing -->
	<div class="amazing">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="amazing-box">
						<h2>Amazing London Tour</h2>
						<span>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there</span>
						<a href="#">Book Now</a>
						<a href="#">Get More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end Amazing -->


{% endblock %}
