{% extends 'base.html.twig' %}

{% block title %}Reservation!{% endblock %}

{% block main %}


<div class="container">
{{form(reservationForm)}}
<h1 class="text-center">Votre réservation en détail </h1>


</div>
{% endblock %}
