{% extends 'base.html.twig' %}

{% block title %}Les produits
{% endblock %}

{% block body %}
    <section class="bg-light p-3">
        <h1>Voir tous nos vols</h1>
    </section>

    <section class="row">
        {% for vol in vols %}
            <div class="col-4 mt-4">
                <div class="border border-dark rounded p-2 clearfix">
                    <h2>{{ vol.compagnie }}</h2>
                    <p>{{ vol.dateDepart | date("d/m/Y") }} €</p>
                    <a href="{{path("cart_add", {id: vol.id})}}" class="btn btn-primary">
                        <i class="bi bi-cart-plus"></i> Ajouter
                    </a> 
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}