{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

<h1 class="text-muted align"><p class="text-center">Mon tableau de board</h1></p>
<hr>

{% for user in users %}
{{user.prenom}}
{% endfor %}

{% endblock %}
